@font-face {
   font-family: 'Bree Serif';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/Users/mazevedo/Documents/Meus%20projetos/Websites/angelopercy.com//fonts/Bree Serif/regular.ttf') format('truetype');
}
