@font-face {
   font-family: 'Fjalla One';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/Users/mazevedo/Documents/Meus%20projetos/Websites/angelopercy.com//fonts/Fjalla One/regular.ttf') format('truetype');
}
